<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_id1 %><br />
    <%= f.number_field :image_id1 %>
  </div>
  <div class="field">
    <%= f.label :image_id2 %><br />
    <%= f.number_field :image_id2 %>
  </div>
  <div class="field">
    <%= f.label :image_id3 %><br />
    <%= f.number_field :image_id3 %>
  </div>
  <div class="field">
    <%= f.label :image_id4 %><br />
    <%= f.number_field :image_id4 %>
  </div>
  <div class="field">
    <%= f.label :image_id5 %><br />
    <%= f.number_field :image_id5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
