<p id="notice"><%= notice %></p>

<p>
  <b>Image id1:</b>
  <%= @album.image_id1 %>
</p>

<p>
  <b>Image id2:</b>
  <%= @album.image_id2 %>
</p>

<p>
  <b>Image id3:</b>
  <%= @album.image_id3 %>
</p>

<p>
  <b>Image id4:</b>
  <%= @album.image_id4 %>
</p>

<p>
  <b>Image id5:</b>
  <%= @album.image_id5 %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
