<h1>Listing lots</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Amount</th>
    <th>Name</th>
    <th>Description</th>
    <th>Seller</th>
    <th>Buyer</th>
    <th>Mediator</th>
    <th>Album</th>
    <th>Fixed</th>
    <th>Price</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lots.each do |lot| %>
  <tr>
    <td><%= lot.type %></td>
    <td><%= lot.amount %></td>
    <td><%= lot.name %></td>
    <td><%= lot.description %></td>
    <td><%= lot.seller_id %></td>
    <td><%= lot.buyer_id %></td>
    <td><%= lot.mediator_id %></td>
    <td><%= lot.album_id %></td>
    <td><%= lot.fixed %></td>
    <td><%= lot.price %></td>
    <td><%= lot.status %></td>
    <td><%= link_to 'Show', lot %></td>
    <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
    <td><%= link_to 'Destroy', lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lot', new_lot_path %>
